apiVersion: v1
kind: Service
metadata:
  name: faculty-backend
  namespace: faculty-management
  labels:
    app: faculty-backend
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: faculty-backend
