apiVersion: apps/v1
kind: Deployment
metadata:
  name: faculty-frontend
  namespace: faculty-management
  labels:
    app: faculty-frontend
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: faculty-frontend
  template:
    metadata:
      labels:
        app: faculty-frontend
        tier: frontend
    spec:
      containers:
      - name: faculty-frontend
        image: virk121/faculty-frontend:latest
        ports:
        - containerPort: 3000
          name: http
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "200m"
