apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: faculty-management
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_DB: faculty_db
