---
# Database Server Role Handlers

- name: restart docker
  systemd:
    name: docker
    state: restarted

- name: restart postgresql
  systemd:
    name: postgresql
    state: restarted
  ignore_errors: yes
